@import 'icomoon';

//100 = thin
//200 = extra-light
//300 = light
//400 = normal, book
//500 = medium
//600 = demi-bold
//700 = bold
//800 = heavy
//900 = black

$font: Tahoma, Geneva, Kalimati, Sans-serif;
$input-font: $font;
$font-size: 0;
$input-size: 16px;
$line-height: 1;
