include ../../../views/mixins/button.pug

+button({
    type: '{{ buttonType }}',
    attr: {'#toggleButton': ''},
    mode: {'[ngClass]': "trackedTask?.key === task?.key || !task ? buttonState : 'stopped'"}
})
