include ../../../views/mixins/button.pug

+button({
    type: '{{ buttonType }}',
    attr: {'#toggleButton': ''},
    mode: {'[ngClass]': "trackedTask === taskKey || !taskKey ? buttonState : 'stopped'"}
})
