.app-layout
    .background
    .wrapper
        .topline
            .topline__section
                ng-container('*ngIf'='(authState | async).authenticated; else auth')
                    a.menu__item('(click)'='onLogOut()') Logout
                ng-template('#auth'='')
                    a.menu__item('[routerLink]'="['/sign-up']") Sign up
                    a.menu__item('[routerLink]'="['/sign-in']") Sign in
        router-outlet
