.app-layout
    .background
    .wrapper
        .topline
            app-top-menu
        router-outlet

ng-template('#popupContainer'='')

.preloader('*ngIf'='!isAppLoaded')
    .preloader_animation Loading...
