ng-container('*ngIf'='!isLoading; else spinner')
    .data-table-wrapper('[ngClass]'='className')
        table.data-table
            thead
                tr
                    th('*ngFor'='let item of head' '[ngClass]'='item | className')
                        .table-head-cell-wrapper('*ngIf'='!hideHead')
                            span {{ item }}
            tbody([@.disabled]='animationsDisabled')
                tr.data-table_row(
                    '*ngFor'='let entry of body; index as i; trackBy: trackByFn'
                    '[ngClass]'='{active: activeEntry === entry.key}'
                    '[@entry]'=''
                )
                    ng-container('[ngTemplateOutlet]'='row' '[ngTemplateOutletContext]'='{entry: entry, index: i}')

ng-template('#spinner'='')
    .spinner
