include ../../../../../views/mixins/button.pug

.instrument-panel
    +button({
        type: 'rectangular standalone red',
        text: 'create task',
        attr: {
            '(click)': 'openCreateTaskPopup()'
        }
    })
