app-data-table(
    className='tasks'
    '[isLoading]'='(isLoading$ | async)'
    '[head]'='tableHead'
    '[hideHead]'='true'
    '[body]'='(tasks$ | async)'
)
    ng-template('#row'='' 'let-entry'='entry' 'let-index'='index')
        td(
            '*ngFor'='let cell of (entry | task: {timer: (timerService.timer$ | async), activeTask: (timerService.trackedTask$ | async).key}); index as i'
            '[ngClass]'='tableHead[i]'
            '[ngSwitch]'='cell'
        )
            .table-cell-wrapper
                ng-container('*ngSwitchCase'="'toggle'")
                    app-toggle-button(
                        buttonType='round small red inline'
                        '[buttonState]'='(timerService.trackButtonState$ | async)'
                        '[trackedTask]'='(timerService.trackedTask$ | async)'
                        '[task]'='entry'
                    )
                ng-container('*ngSwitchCase'="'action'")
                    .action-button.delete('(click)'='deleteTask(entry)')
                ng-container('*ngSwitchDefault'='')
                    span {{ cell }}
