form.form-group('[formGroup]'='form')
    label.label(for='name') *Name

    app-text-input(
        formControlName='name'
        '[id]'='name'
    )

    .error-messages
        .error-messages_item {{ (form.get('name').invalid && (form.get('name').dirty || form.get('name').touched)) ? (form.get('name').errors | validationMessage) : '' }}
