include ../../../../../views/mixins/button.pug

.timer
    .timer_face
        .timer_controls
            +button({
                attr: {
                    '[ngClass]': '{spinning: started}',
                    '(click)': 'toggleTimer($event)'
                },
                mode: {
                    '[ngClass]': "started ? 'stop' : 'start'"
                }
            })
        .timer_digits {{ (timerService.timer$ | async).value | time }}
