$primary-color: #7b8096;
$dark-primary-color: #767B91;
$secondary-color: #fff;
$button-color: #F26C53;

$timer-height: 225px;

.timer-wrapper {
    height: $timer-height;
    background-color: $primary-color;
    border-radius: 6px;
}

.timer-face {
    width: 500px;
    height: 120px;
    padding: 20px;
    margin: 0 auto;

    &-digits {
        color: $secondary-color;
        font-family: 'Nova Square', sans-serif;
        font-size: 90px;
        padding: 0 15px;
    }
}

.timer-controls {
    width: 300px;
    margin: 0 auto;
}

.button {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: relative;
    background-color: $button-color;
    border-radius: 50%;
    margin: 0 50px 0 0;
    vertical-align: middle;
    cursor: pointer;

    &:last-child {
        margin: 0;
    }

    &.small {
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: 5px solid $dark-primary-color;
    }

    &-icon {
        position: absolute;
        top: 20px;
        left: 25px;
        background: transparent;
        box-sizing: border-box;
        width: 0;
        height: 40px;

        border-color: transparent transparent transparent $secondary-color;
        transition: 100ms all ease;

        &.play {
            border-style: solid;
            border-width: 20px 0 20px 40px;
        }

        &.pause {
            border-style: double;
            border-width: 0 0 0 30px;
        }

        &.stop {
            top: 10px;
            left: 10px;
            width: 20px;
            height: 20px;
            background-color: $secondary-color;
            border-radius: 3px;
        }

        &.reload {
            top: 8px;
            left: 8px;
            height: 24px;
            width: 24px;
            padding: 2px;

            &:before,
            &:after {
                content: '';
                display: block;
            }

            &:before {
                border-color: transparent $secondary-color $secondary-color $secondary-color;
                border-radius: 50%;
                border-style: solid;
                border-width: 3px;
                height: 16px;
                width: 16px;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);

            }

            &:after {
                border-color: transparent transparent transparent $secondary-color;
                border-style: solid;
                border-width: 4px 0 4px 7px;
                height: 0;
                position: absolute;
                top: 0;
                left: 50%;
                width: 0;
            }
        }

        &:hover {
            border-color: transparent transparent transparent $secondary-color;
        }
  }
}
