.timer
    .timer_face
        .timer_controls
            app-toggle-button(
                buttonType='round big red'
                '[service]'='timerService'
            )
        .timer_digits {{ (timerService.timer$ | async)?.value | time }}
