include ../../../../../views/mixins/button.pug

.timer
    .timer_face
        .timer_controls
            +button({
                type: 'round big red',
                attr: {'#toggleButton': ''},
                mode: {'[ngClass]': "(clickActions$ | async) || 'stopped'"}
            })
        .timer_digits {{ (timerService.timer$ | async)?.value | time }}
