include ../../../../../views/mixins/button.pug

.timer
    .timer_face
        .timer_controls
            +button({
                attr: {
                    '#toggleButton': '',
                    '[ngClass]': '{spinning: buttonState}'
                },
                mode: {
                    '[ngClass]': "buttonState ? 'stop' : 'start'"
                }
            })
        .timer_digits {{ (timerService.timer$ | async).value | time }}
