$button-size: 40px;
$delete-bg-color: #fdeeeb;
$delete-icon-color: #e9563d;

.data-table-wrapper {

    &.time-entries {
        margin: 20px 0 0 0;

        .data-table {
            @extend %time-entries;
        }
    }
}

.data-table {
    width: 100%;
    table-layout: fixed;

    td,
    th {
        span {
            font-family: $font;
            font-size: 13px;
            font-weight: 400;
        }

        &:last-child {
            text-align: right;
        }
    }

    th {
        height: 45px;
        text-align: left;
        vertical-align: middle;


        .table-head-cell-wrapper {
            padding: 0 15px;
        }

        span {
            color: $table-header-color;
            text-transform: uppercase;
        }
    }

    td {
        height: 85px;
        border-radius: 6px;
        padding: 0 0 15px;

        .table-cell-wrapper {
            @extend %align-middle;
            background-color: $primary-color;
            width: 100%;
            height: 70px;
            padding: 0 15px;

            .action-button {
                @extend %middle;
                width: $button-size;
                height: $button-size;
                cursor: pointer;

                &.delete {
                    @extend %icon;
                    @extend %icon-bin;
                    @extend %align-middle;
                    text-align: center;
                    background-color: $delete-bg-color;
                    border-radius: 6px;

                    &:before {
                        @extend %middle;
                        color: $delete-icon-color;
                        font-size: 18px;
                    }

                    &:hover {
                        background-color: $delete-icon-color;

                        &:before {
                            color: $delete-bg-color;
                        }
                    }
                }
            }

            span {
                @extend %middle;
                color: $default-color;
            }
        }

        &.task {
            .table-cell-wrapper {
                span {
                    font-size: 14px;
                    font-weight: 700;

                }
            }
        }
    }
}


%time-entries {
    th,
    td {
        &.task {
            width: 40%;
        }

        &.start_date,
        &.end_date {
            width: 20%;
        }

        &.duration,
        &.action {
            width: 10%;
        }
    }
}
