$button-size: 40px;

.data-table-wrapper {

    &.time-entries {
        margin: 20px 0 0 0;

        .data-table {
            @extend %time-entries;
        }
    }

    &.tasks {
        margin: 10px 0 0 0;

        .data-table {
            @extend %tasks;
        }
    }

}

.data-table {
    width: 100%;
    table-layout: fixed;

    &_row {
        &.active {
            .table-cell-wrapper {
                background-color: $color-13;

                span {
                    color: $color-3;
                }
            }
        }
    }

    td,
    th {
        span {
            font-family: $font;
            font-size: 13px;
            font-weight: 400;
        }

        &:last-child {
            text-align: right;
        }
    }

    th {
        text-align: left;
        vertical-align: middle;


        .table-head-cell-wrapper {
            height: 25px;
            padding: 0 15px;
        }

        span {
            color: $color-10;
            text-transform: uppercase;
        }
    }

    td {
        height: 65px;
        border-radius: 6px;
        padding: 0 0 15px;

        .table-cell-wrapper {
            @extend %align-middle;
            background-color: $color-3;
            width: 100%;
            height: 50px;
            padding: 0 15px;

            .action-button {
                @extend %middle;
                width: $button-size;
                height: $button-size;
                cursor: pointer;

                &.delete {
                    @extend %icon;
                    @extend %icon-bin;
                    @extend %align-middle;
                    text-align: center;
                    background-color: $color-11;
                    border-radius: 6px;

                    &:before {
                        @extend %middle;
                        color: $color-12;
                        font-size: 18px;
                    }

                    &:hover {
                        background-color: $color-12;

                        &:before {
                            color: $color-11;
                        }
                    }
                }
            }

            span {
                @extend %middle;
                color: $color-5;
            }
        }

        &.task {
            .table-cell-wrapper {
                span {
                    font-size: 14px;
                    font-weight: 700;

                }
            }
        }
    }
}


%time-entries {
    th,
    td {
        &.start_date,
        &.end_date,
        &.duration,
        &.action {
            width: 30%;
        }

        &.action {
            width: 10%;
        }
    }
}

%tasks {
    $toggle-button-width: 60px;

    th,
    td {
        &.toggle {
            width: $toggle-button-width;
        }

        &.task_summary {
            width: calc(60% - #{$toggle-button-width});
        }

        &.logged {
            width: 20%;
        }

        &.action {
            width: 10%;
        }
    }
}

